<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">
<context:annotation-config/>

<!--Achieving auto-wiring using annotation  -->
<bean class="com.learn.spring.SpringAutoWiringProject_8.Shop" id="sh" autowire="constructor">
</bean>

<bean class="com.learn.spring.SpringAutoWiringProject_8.Product" id="pr1">
<property name="prId" value="777"></property>
<property name="prName" value="Maggi"></property>
<property name="prPrice" value="25"></property>
</bean>

</beans>